mat-toolbar{
  margin-bottom: 16px;
  height: 80px;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
span {
  font-size: 24px;
  color: #1787e0;
  font-weight: 600;
  text-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}
.person-icon{
  color: #1787e0;
  transform: scale(2);
  cursor: pointer;
}
@media (max-width:600px) {
  .person-icon{
    transform: scale(1.5);
  }
}
.search-field {
  width: 250px;
  height: 50px;
}
@media (max-width:600px) {
  .search-field{
    width: 180px;
  }
}
::ng-deep .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before{
    display: none;
}
::ng-deep .mdc-floating-label, .mat-mdc-floating-label{
  color: #2196f3 !important;

}
